body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.highlight{
    color: 	orange;
}

.half-width{
    float: left;
    margin-left:5%;
    padding-left: 2%;
    width: 40%;

    
}

.half-width img{
    width: 100%;
    
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}
#href{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(45deg, rgb(236, 101, 101) , rgb(44, 230, 44));
    padding: 10px; border-radius: 5px;
}

.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.shadows{
    box-shadow: 10px 10px 40px gray;   
    height: 80%;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left ;
}

#rookie{
    border-left: 7px solid ;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#pro{
    border-left: 7px solid ;
    border-image: linear-gradient(180deg, blue,red, green);
    border-image-slice: 1;  
}
footer p{
    font-size:12px;
    text-align: center;
}